html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.btn {
  @apply px-4 py-2 rounded inline-block
    bg-red-200 text-white cursor-pointer
    hover:bg-red-300
    disabled:cursor-default disabled:bg-gray-700 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-red-200;
  font-size: 0.9em;
}

.scroll-box::-webkit-scrollbar {
    width: 4px;
    // height: 10px; // 高度写不写，都不影响，因为会根据内容的长度自动计算
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #e6e9ec; // 滑块颜色
    border-radius: 5px; // 滑块圆角
}

.scroll-box::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
}

.scroll-box::-webkit-scrollbar-track {
    border-radius: 10px; // 轨道圆角
    background-color: #1890ff // 轨道颜色 
}


.inp {
  width:100%;
  max-width: 300px;
  background-color: #f5f5f5;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
}

.in:focus {
  border-radius: 4px 4px 2px 2px;
}

.inp:hover {
  outline: 1px solid lightgrey;
}

.el-select{
  width:100%;
  max-width:300px;
  border-radius: 4px;
}

.el-select .el-input__wrapper{
  background-color: #f5f5f5;
  padding: .15rem .5rem;
  min-height: 40px;
  line-height: 1.15;
  box-shadow:none !important;
}
.el-select .el-input__wrapper:hover{
  outline: 1px solid lightgrey;
}
.el-select .el-input.is-focus .el-input__wrapper{
  outline: 1px solid lightgrey;
  box-shadow:none !important;
}

.el-select .el-select__tags .el-tag{
  background-color: rgb(254, 226, 226);
  color:#333
}

.el-select-dropdown__wrap {
  max-height: 182px !important;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{
  color:black;
  font-weight:500;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after{
  background-color:black;
}